.header-view {
    
    h1 {
        color: white;
    }

    h3 {
        color: white;
        mix-blend-mode: difference;
        filter: grayscale(100%);
        isolation: isolate;
    }
}

.header-view {
    position: fixed;
    width: 98%;
    z-index: 2;
    mix-blend-mode: difference;

    &-wrapper {
        padding: 1% 4%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 10%;
    }
    
    h1 {
        color: white;
        font-family: arial;
    }

    h3 {
        color: white;
        font-family: arial;
        align-self: center;
    }
}