.header-view {
    
    h1 {
        color: white;
    }

    h3 {
        color: white;
        mix-blend-mode: difference;
        filter: grayscale(100%);
        isolation: isolate;
    }
}

.header-view {
    position: fixed;
    width: 100%;
    z-index: 2;
    mix-blend-mode: difference;

    &-wrapper {
        padding: 20px 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    h1 {
        color: white;
        font-family: arial;
    }

    h3 {
        color: white;
        font-family: arial;
    }
}