.project-cards-view {
    margin: 0 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 0.8%;
    justify-content: space-between;

    >div {
        flex-grow: 1;
        width: 32.5%;
        max-width: 32.5%;
        height: auto;
    }
}